@import "tailwindcss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	width: 100vw;
	height: 100dvh;
	display: grid;
	place-items: center;
}

/* Default grid for large screens (desktops) */
.container {
	display: grid;
	gap: 10px;
	row-gap: 10px;
	width: 100%;
}

.container .card {
	aspect-ratio: 1 / 1.5;
}

@media screen and (min-width: 1200px) {
	.card {
		width: 50% !important;
	}
}
